__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

.venv/
env/
venv/
.gradio/
.env/
.env

/data/
/checkpoints/
*.zip
*.pt
*.pth
*.safetensors
*.ckpt

draft/
archive/

.DS_Store
Thumbs.db

wandb/
*.log
experiments/runs/

.ipynb_checkpoints/
outputs/
kaggle/working/
